In [1]:
import pandas as pd
import re
import lxml.html
import joblib

In [2]:
df = pd.read_csv('../../data/data.csv')
df.tail()

,Id,Title,Body,Tags,CreationDate,Y
59995,60467932,C++ The correct way to multiply an integer and...,<p>I try to multiply an integer by a double bu...,<c++>,2020-02-29 17:46:41,LQ_CLOSE
59996,60468018,How can I make a c# application outside of vis...,<p>I'm very new to programming and I'm teachin...,<c#><visual-studio>,2020-02-29 17:55:56,LQ_CLOSE
59997,60468378,WHY DJANGO IS SHOWING ME THIS ERROR WHEN I TRY...,*URLS.PY*\r\n //URLS.PY FILE\r\n fro...,<django><django-views><django-templates>,2020-02-29 18:35:39,LQ_EDIT
59998,60469392,PHP - getting the content of php page,<p>I have a controller inside which a server i...,<javascript><php><html>,2020-02-29 20:32:14,LQ_CLOSE
59999,60470323,Why can't overloaded functions vary only by re...,<p>So i was recently helping someone out with ...,<c++><overloading><return-type>,2020-02-29 22:45:56,LQ_CLOSE

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            60000 non-null  int64
 1   Title         60000 non-null  object
 2   Body          60000 non-null  object
 3   Tags          60000 non-null  object
 4   CreationDate  60000 non-null  object
 5   Y             60000 non-null  object
dtypes: int64(1), object(5)
memory usage: 2.7+ MB

In [4]:
df = df[['Title', 'Body', 'Y']].copy()
df.tail()

,Title,Body,Y
59995,C++ The correct way to multiply an integer and...,<p>I try to multiply an integer by a double bu...,LQ_CLOSE
59996,How can I make a c# application outside of vis...,<p>I'm very new to programming and I'm teachin...,LQ_CLOSE
59997,WHY DJANGO IS SHOWING ME THIS ERROR WHEN I TRY...,*URLS.PY*\r\n //URLS.PY FILE\r\n fro...,LQ_EDIT
59998,PHP - getting the content of php page,<p>I have a controller inside which a server i...,LQ_CLOSE
59999,Why can't overloaded functions vary only by re...,<p>So i was recently helping someone out with ...,LQ_CLOSE

In [5]:
df['Y'].unique()

array(['LQ_CLOSE', 'LQ_EDIT', 'HQ'], dtype=object)

In [6]:
df = df[df['Y'] != 'LQ_EDIT']

In [7]:
df['question_text'] = df['Title'] + ' ' + df['Body']
df = df.drop(['Title', 'Body'], axis=1)
df['Y'] = df['Y'].map({'HQ': 1, 'LQ_CLOSE': 0})

In [8]:
df.tail()

       Y                                      question_text
59994  0  How can I align two flex boxes to follow each ...
59995  0  C++ The correct way to multiply an integer and...
59996  0  How can I make a c# application outside of vis...
59998  0  PHP - getting the content of php page <p>I hav...
59999  0  Why can't overloaded functions vary only by re...

In [9]:
def clean_text(text: str) -> str:
    # remove html tags
    text = lxml.html.fromstring(text).text_content()
    
    # Keep only alphabetical charecters
    text = re.sub(pattern='^(a-zA-Z)\s', repl='', string=text)
    
    return text

In [10]:
df['question_text'] = df['question_text'].apply(clean_text)

In [11]:
df['Y'].value_counts()

1    20000
0    20000
Name: Y, dtype: int64

In [12]:
X, y = df['question_text'], df['Y']

In [13]:
joblib.dump(value=X, filename='../../data/Features.joblib', compress=True)
joblib.dump(value=y, filename='../../data/Lables.joblib', compress=True)

['../../data/Lables.joblib']